[Desktop Entry]
Name=Dracula-kde-rounded-solid
X-KDE-PluginInfo-Author=Igor
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=Dracula-kde-rounded-solid
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL_V3
X-KDE-PluginInfo-EnabledByDefault=true
