[Desktop Entry]
Name=Dracula-kde-Solid
X-KDE-PluginInfo-Author=Igor
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL v3
X-KDE-PluginInfo-Name=Dracula-kde-Solid
X-KDE-PluginInfo-Version=1.0
